html {
	background-color: brown;
	background-image: url(images/industrial_texture695.jpg);	
	background-size:cover;
	background-repeat: no-repeat;
}
main {
	float: left;
	border: 1px solid #ff0000;
	padding: 10px 10px 10px 40px;
	margin: 5px auto;
	width: 450px;
	background-color: orange;
}

header {
	border: 8px dotted black;
	padding: 10px 10px 10px 10px;
	margin: 5px auto;
	height: 75px;
	background-color: brown;
}

body {
	width: 900px;
	margin: 10px auto;
}

aside {
	padding: 10px 10px 10px 40px;
	float: right;
	width: 300px;
	background-color: orange;
}

footer {
	clear: both;
	width: 900px;
	margin: 5px auto;
	}

.lorem {
	color:white;
}